* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #1e1f21;
    color: white;
}


.navbar {
    width: 100%;
    padding: 20px 40px;
    background: #2a2b2d;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 18px;
    letter-spacing: 0.5px;
}

.nav-links a {
    margin-left: 30px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    opacity: 0.9;
    align-items: center;
}

.nav-links a:hover {
    opacity: 1;
    color: blue;
}

.hamburger {
    display: none;
}


.hero-section {
    display: flex;
    height: calc(100vh - 80px);
}

.hero-image {
    width: 50%;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
}

.hero-text {
    width: 50%;
    padding: 80px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-text h1 {
    font-size: 64px;
    line-height: 1.1;
}

.hero-text h1 span {
    font-weight: bold;
}

.hero-text p {
    margin-top: 20px;
    max-width: 400px;
    font-size: 14px;
    line-height: 1.5;
    opacity: 0.8;
}

.buttons {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn-primary {
    padding: 12px 25px;
    background: white;
    color: black;
    font-size: 14px;
    text-decoration: none;
    border-radius: 4px;
}

.play-video {
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    text-decoration: none;
}

.page-number {
    margin-top: 40px;
    font-size: 12px;
    opacity: 0.7;
}


.intro-section {
    display: flex;
    padding: 80px 60px;
    background: #1e1f21;
    position: relative;
}

.intro-content {
    width: 55%;
}

.intro-content h2 {
    font-size: 56px;
    margin-bottom: 10px;
}

.intro-line {
    width: 60px;
    height: 2px;
    background: #777;
    margin-bottom: 25px;
}

.intro-text {
    font-size: 14px;
    line-height: 1.8;
    max-width: 450px;
    opacity: 0.8;
}

.intro-boxes {
    display: flex;
    gap: 40px;
    margin-top: 40px;
}

.intro-box h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

.intro-box p {
    font-size: 13px;
    line-height: 1.6;
    opacity: 0.8;
}

.intro-image {
    width: 40%;
    height: 40%;
}

.intro-image img {
    width: 100%;
    height: auto;
    filter: grayscale(100%);
}

.intro-page {
    position: absolute;
    bottom: 30px;
    right: 40px;
    font-size: 12px;
    opacity: 0.6;
}


.gallery {
    align-items: center;
}

.img-box {
    overflow: hidden;
}

.img-box img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about {
    display: flex;
    padding: 80px 60px;
    gap: 80px;
}

.about-left {
    width: 30%;
}

.about-left h1 {
    font-size: 52px;
    font-weight: bold;
}

.about-left span {
    display: block;
    width: 60px;
    height: 3px;
    background: #fff;
    margin-top: 15px;
}

.about-right {
    width: 70%;
    display: flex;
    gap: 60px;
}

.text-box h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.text-box p {
    color: #cfcfcf;
    line-height: 1.7;
    font-size: 14px;
}


@media(max-width: 900px) {

    .hero-section,
    .intro-section,
    .about {
        flex-direction: column;
    }

    .hero-image,
    .hero-text,
    .intro-content,
    .intro-image {
        width: 100%;
        height: auto;
    }

    .hero-text,
    .intro-content {
        padding: 50px 30px;
    }

    .intro-boxes {
        flex-direction: column;
    }

    .nav-links {
        display: none;
    }

    .hamburger {
        display: block;
        font-size: 22px;
    }
}